body {
  background-image: url("scott-warman-525481-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}



form.form-group {
  display: flex;
  justify-content: center;
}


.listContainer {
  padding: 20px;
  font-family: Georgia;
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.0;
  text-align: center;
  list-style-position: inside;
}

.listContainer li {
  font-size: 1.25em;
} 
.listContainer p {
  font-size: 12px;
  font-style: italic;
}

ul {
  list-style-type: none;
}

/* @media screen and (min-width: 909px){
  .componentContainer {
    width: 80rem;
  }
} */